body{
  background-color: bisque;
}

nav{
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

nav a{
  color: aqua;
  font-size: large;
  padding: 0.3rem;
}

nav a.selected{
  border: 2px solid yellow;
}